click
Flask
Flask-CORS
simplejson
pyzmq
PyYaml
requests
minio
pip
schematics
aiohttp
git+https://github.com/iterait/emloop.git
git+https://github.com/iterait/apistrap.git

# testing
pytest
pytest-mock
pytest-forked
pytest-aiohttp
pytest-asyncio
